h1 {
    font-size: 64px;
    margin-bottom: 16px
}
img {
    width: 250px,
}
header {
    margin-top: 16px;
    margin-bottom: 48px
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none
}
.main-content {
    flex-grow: 1;
    background-color: #fff321;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;

}
body {
    margin: 0 auto;
    color: #333333;
    max-width: 650px;
    padding: 0 16px;
    font-family: arial;
    
    display : flex;
    flex-direction: column;
    height: 100%;
}